/* .dbwindow {
  width: 100vw;
  height: 100vh;
} */

table {
  border-collapse: collapse; /* Collapse borders  no border inbetween table td*/
  table-layout: fixed;
  width: 95%;
}

td {
  width: 50%;
  height: 100%;
  border: none;
  background-color: transparent;
  text-align: center;

  /* overflow: hidden; */
  text-overflow: ellipsis;
  /* word-wrap: break-word; */
}

table th td {
  font-size: 10px;
}

input {
  width: 50%;
  height: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
}
