.timer-banner {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4f4f4;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.timer-banner-header {
  display: flex;
  align-items: center;
}

.timer-banner-header h1 {
  margin: 0;
  font-size: 1.5em;
}

.close-icon {
  margin-left: 10px;
  cursor: pointer;
}

.timer-banner-content {
  flex-grow: 1;
  text-align: center;
}

.timer-banner-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.timer-banner-controls svg {
  cursor: pointer;
  font-size: 1.5em;
}
